.button {
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button_main {
    background: #3369F3;
    color: #FFF;
    font-size: 13px;
}

.button_full-width {
    width: 100%;
    max-width: 280px;
}

.button_centered {
    display: block;
    margin: 0 auto;
}

.button_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
    padding: 0;
}