<div class="chat-body__header">
    <div class="interlocutor">
        <div class="interlocutor__photo"></div>
        <div class="interlocutor__name">{{dialogData.interlocutorName}}</div>
    </div>
    <div class="setting-dialog">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>

    <div class="dropdownMenu" id="setting-dialog-menu">
        <div class="dropdownMenu__item open-invite-modal">
            <img class="dropdownMenu__icon-item" src="/static/icon/add-icon.svg" alt="">
            Добавить пользователя
        </div>
        <div class="dropdownMenu__item open-delete-modal">
            <img class="dropdownMenu__icon-item" src="/static/icon/remove-icon.svg" alt="">
            Удалить пользователя
        </div>
    </div>
</div>