<div class="chat-body__header">
    <div class="interlocutor">
        <div class="interlocutor__photo"></div>
        <div class="interlocutor__name">{{dialogData.interlocutorName}}</div>
    </div>
    <i class="fa fa-ellipsis-v setting-dialog" aria-hidden="true"></i>
</div>