<div class="chat-body__footer">
    <i class="fa fa-paperclip fa-flip-vertical add-attached-file" aria-hidden="true"></i>
    <div class="input-message" contenteditable="true"></div>
    <i class="fa fa-arrow-right button button_circle button_main" aria-hidden="true"></i>
</div>