@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import '../../node_modules/font-awesome/css/font-awesome.min.css';

:root {
    --main-color: #3369f3;
    --danger-color: #FF2F2F;
    --base-text-color: #1E1E1E;
    --bg-color: #EFEFEF;
    --base-border: 1px solid #EAEAEA;
    --base-border-radius: 12px;
    --secondary-text-color: #999999;
    --base-size-text: 13px;
    --mini-size-text: 11px;
    --font-weight-bold: 600;
    --font-weight-medium: 500;
    --font-weight-base: 400;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: var(--font-weight-base);
    font-size: var(--base-size-text);
    color: var(--base-text-color);
}

h1 {
    display: block;
    font-size: 60px;
    font-weight: var(--font-weight-medium);
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    display: block;
    font-size: 30px;
    font-weight: var(--font-weight-medium);
    margin-top: 0;
    margin-bottom: 60px;
}

.messenger-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.messenger-body {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 720px;
    grid-template-columns: 25% 75%;
    border: var(--base-border);
}
.messenger-body_profile {
    grid-template-columns: 80px 1fr;
}
.messenger-body_default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.messenger-controls {
    text-align: right;
}

.chat-body {
    position: relative;
}

.empty-chat-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-text-color);
}

.search-dialog {
    display: block;
    width: 100%;
    max-width: 280px;
    height: 32px;
    padding: 0 10px;
    background: var(--bg-color);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    margin-top: 20px;
    transition: all .2s;
}
.setting-dialog:hover {
    color: var(--main-color);
}
.search-dialog:focus {
    outline: 0;
}

.setting-dialog {
    font-size: 20px;
    cursor: pointer;
    color: var(--base-text-color);
}
.setting-dialog:hover,
.setting-dialog_active {
    background-color: #F5F5F5;
}

.dialog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.link {
    color: var(--secondary-text-color);
    text-decoration: none;
}
.link_centered {
    display: block;
    text-align: center;
}

.input-message {
    background: var(--bg-color);
    border-radius: 25px;
    padding: 10px 15px;
}
.input-message:focus {
    outline: 0;
}

.add-attached-file {
    font-size: 30px;
    color: var(--secondary-text-color);
    cursor: pointer;
}
.add-attached-file:hover,
.add-attached-file_active {
    color: var(--main-color);
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.profile-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-data__label {
    color: var(--base-text-color);
    font-size: var(--base-size-text);
}
.profile-data__value {
    color: var(--secondary-text-color);
    font-size: var(--base-size-text);
}

.profile-name {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin: 20px 0 60px;
}

.link {
    color: var(--main-color);
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.link_danger {
    color: var(--danger-color);
}

.load-file-name {
    text-align: center;
    color: #8D8D8D;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 50px;
}

.error-label {
    color: var(--danger-color);
    font-size: var(--mini-size-text);
}
.error-label_center {
    text-align: center;
}