---
title: Диалог
cssComponents:
  - dialog
  - chat-body
  - badge
  - sidebar
  - interlocutor
  - message
  - modal
  - button
  - field

modalTitle: Добавить пользователя
---

{{!< base}}

{{> sidebar isFullSize=true}}
{{> chat-body isEmpty=false}}

<div class="modal modal_hide">
    <div class="modal__body">
        <div class="modal__title">{{modalTitle}}</div>
        <div class="form">
            {{#each formAddUser.fields}}
                {{> field label="Логин" type="text"}}
            {{/each}}
        </div>
        {{#each formAddUser.buttons}}
            {{> button className="button_main button_full-width" label="Добавить"}}
        {{/each}}
    </div>
</div>