---
title: Регистрация
bodyType: profile
urlBtnBack: /src/pages/chat.hbs
cssComponents:
  - modal
  - button
  - field
  - sidebar
  - list
  - avatar
---

{{!< base}}

{{> sidebar isCollapse=true}}

<div class="profile-content">
    {{> avatar imageUrl="/static/icon/Union.png"}}
    <div class="profile-name">Иван</div>

    <ul class="list list_full">
        {{#each profileData}}
            <li class="list__item">
                {{> profileDataItem data=this}}
            </li>
        {{/each}}
    </ul>

    <ul class="list list_full">
        {{#each listProfileButtons}}
            <li class="list__item">
                {{> link className=this.class label=this.label href=this.href}}
            </li>
        {{/each}}
    </ul>
</div>