---
title: Регистрация
bodyType: default
cssComponents:
- chat-body
- button
- field
- form
---

{{!< base}}

<div class="form">
    <div class="form__title">Регистрация</div>
    <div class="form__fields">
        {{#each singinFormFields}}
            {{> field}}
        {{/each}}
    </div>
    <div class="form__footer">
        {{> link href="/src/pages/chat-start.hbs" className="button button_main button_full-width button_centered" label="Зарегистрироваться"}}
        {{> link href="/src/pages/index.hbs" className="link link_centered" label="Войти"}}
    </div>
</div>


