.field {
    margin-top: 15px;
}

.field:first-child {
    margin-top: 0;
}

.field__label {
    display: block;
    font-size: 9px;
    line-height: 1;
    color: #999999;
}

.field__label_input-file {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin-bottom: 40px;
    color: #3369F3;
}

.field__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #3369F3;
    padding: 7px 0;
    font-size: 13px;
    color: #1E1E1E;
}
.field__input:focus {
    outline: 0;
}
.field__input_simple {
    padding: 0;
    border-bottom: none;
}
.field__input_right {
    text-align: right;
}
.field__input_file {
    display: none;
}

.field__input_password::-webkit-input-placeholder {
    color: #999999;
    font-size: 11px;
}
.field__input_password::-moz-placeholder          {
    color: #999999;
    font-size: 11px;
}
.field__input_password:-moz-placeholder           {
    color: #999999;
    font-size: 11px;
}
.field__input_password:-ms-input-placeholder      {
    color: #999999;
    font-size: 11px;
}

.field__error-label {
    display: none;
    font-size: 8px;
    line-height: 1;
    color: #FF2F2F;
    margin-top: 7px;
}

.field_error .field__error-label {
    display: block;
}