<div class="modal modal_hide" id="{{this.ID}}">
    <div class="modal__window">
        <div class="modal__title">{{this.title}}</div>
        <div class="modal__body">
            <div class="form">
                {{> field label=this.fieldLabel
                        type=this.fieldType
                        labelClass=this.fieldLabelClass
                        inputID=this.fieldInputID}}
            </div>
        </div>
        <div class="modal__footer">
            {{> button className="button_main button_full-width button_center-poss" label=this.btnLabel}}
        </div>
    </div>
</div>