<div class="modal modal_hide">
    <div class="modal__body">
        <div class="modal__title">{{this.title}}</div>
        <div class="form">
            <div class="field">
                <label class="field__label">Логин</label>
                <input type="text" class="field__input">
            </div>
        </div>
        <button class="button button_main button_full-width">Добавить</button>
    </div>
</div>