<div class="profile-data">
    <div class="profile-data__label">{{data.label}}</div>
    <div class="profile-data__value">
        {{#if data.isEditable}}
            {{> field label="" type=data.typeValue value=data.value addClasses='field__input_simple field__input_right'}}
        {{else}}
            {{data.value}}
        {{/if}}
    </div>
</div>