<aside class="sidebar">
    <div class="sidebar__head">
        <div class="messenger-controls">
            <a href="" class="link">Профиль ></a>
        </div>
        <input type="text" class="input search-dialog" placeholder="&#xf002; Поиск">
    </div>
    <div class="sidebar__body">
        <ul class="dialog-list">
            {{> dialog-item}}
        </ul>
    </div>
</aside>